<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\IPOClient.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="outofprocess"
                  forwardWindowsAuthToken="false">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
        </environmentVariables>
      </aspNetCore>
      <httpErrors errorMode="Detailed" />
      <asp scriptErrorSentToBrowser="true"/>
      <validation validateIntegratedModeConfiguration="false" />
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <system.web>
    <compilation tempDirectory="D:\Inetpub\vhosts\ivotiontech.co.in\tmp" />
  </system.web>
</configuration>
<!--ProjectGuid: cda0f2a-c90e-4cba-9e50-d13c252d6f29-->
